h1{
    color:mediumblue;
}
h2{
    color: mediumblue;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.grey{
    color: slategray;
}
.blue{
    color: mediumblue;
}
.aqua{
    color: aqua;
}
.green{
    color:lawngreen;    
}